{% extends 'base.html' %}
{% load static %}
{% block content%}

{% include 'partials/_menu.html' %}

{% include 'partials/_header.html' %}

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>fluxo:</h2>
        <img src="{% static 'img/projeto_pratica_02.png' %}" referrerpolicy="no-referrer" alt="projeto_pratica_02">
        <p class="lead">Cadastro:</p>
        
      </div>
    </div>
  </div>
</section>

{% include 'partials/_footer.html' %}

{% endblock%}