{% extends 'base.html' %}
{% load static %}
{% block content%}

{% include 'partials/_menu.html' %}

{% include 'partials/_header.html' %}

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="lead">Atualiza Setor:</p>
        <form action="{% url 'edita_setores' setor_id %}" method="POST">
          <input type="hidden" name="setor_id" value="{{ setor.id }}">
          {% csrf_token %}
          {{ form }} 
          <input type="submit" value="Atualizar" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</section>

{% include 'partials/_footer.html' %}

{% endblock %}